<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Event</title>
    <link rel="stylesheet" href="../static/css/http_cdn.jsdelivr.net_npm_flatpickr_dist_flatpickr.css">
    <script src="../static/js/http_cdn.jsdelivr.net_npm_flatpickr.js"></script>
</head>
<body>
    <h1>Create Event</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.start_time.label(class="form-label") }}
            {{ form.start_time(class="form-control flatpickr",id="start_time") }}
            {% for error in form.start_time.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.end_time.label(class="form-label") }}
            {{ form.end_time(class="form-control, flatpickr",id="end_time") }}
            {% for error in form.end_time.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.location.label(class="form-label") }}
            {{ form.location(class="form-control") }}
            {% for error in form.location.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
            {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
<script>
    flatpickr('#start_time', {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });

    flatpickr('#end_time', {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
</script>
</body>
</html>
