<!DOCTYPE html>
<html lang="en">
<head>
    <title>事件列表</title>
</head>
<body>
    <h1>事件列表</h1>
    <ul>
    <!--显示待执行的事件-->
        {% for event in events %}
            <li>
                <h2>{{ event.title }}</h2>
                <p><strong>日期：</strong>{{ event.start_date }} - {{ event.end_date }}</p>
                <p><strong>时间：</strong>{{ event.event_time }}</p>
                <p><strong>地点：</strong>{{ event.location }}</p>
                <p><strong>描述：</strong>{{ event.description }}</p>
                <p><strong>重复：</strong>{{ event.repeat }}</p>
                <p><strong>提醒类型:</strong>{{ event.reminder_type }}</p>
                {% with days=event.reminder_time // (24 * 60), hours=(event.reminder_time % (24 * 60)) // 60, minutes=(event.reminder_time % 60) %}
                    <p><strong>提醒时间:</strong>{{ days }} 天 {{ hours }} 小时 {{ minutes }} 分钟</p>
                {% endwith %}
                <a href="{{ url_for('event.edit_event', event_id=event.id) }}">编辑</a>
                <form method="post" action="{{ url_for('event.delete_event', event_id=event.id) }}">
                    <input type="submit" value="删除">
                </form>
            </li>
        {% endfor %}
    <!--显示过期的事件-->
        {% for event in expired_events %}
            <li style="color: gray">
                <h2>{{ event.title }}</h2>
                <p style="color: red"><strong>日期：</strong>{{ event.start_date }} - {{ event.end_date }}</p>
                <p><strong>时间：</strong>{{ event.event_time }}</p>
                <p><strong>地点：</strong>{{ event.location }}</p>
                <p><strong>描述：</strong>{{ event.description }}</p>
                <p><strong>重复：</strong>{{ event.repeat }}</p>
                <p><strong>提醒类型:</strong>{{ event.reminder_type }}</p>
                <p><strong>提醒时间:</strong>{{ event.reminder_time }}</p>
                <a href="{{ url_for('event.edit_event', event_id=event.id) }}">编辑</a>
                <form method="post" action="{{ url_for('event.delete_event', event_id=event.id) }}">
                    <input type="submit" value="删除">
                </form>
            </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('event.create_event') }}">创建事件</a>
</body>
</html>
